<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="static/istockphoto-500600490-612x612.jpg">
  <title>
    {% block ftitle %}
    {% endblock %}
  </title>
</head>

<body style="background-color:black;color:white;text-align:center;font-family: 'Bangers', cursive;">
  {% include "nav.html" %}
  {% block fbody %}
  {% endblock %}
  {% include "footer.html" %}
</body>

</html>